{<<"app">>,<<"guardian">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"contributors">>,[<<"Daniel Neighman">>]}.
{<<"description">>,<<"Elixir Authentication framework">>}.
{<<"elixir">>,<<"~> 1.0">>}.
{<<"files">>,
 [<<"lib/guardian.ex">>,<<"lib/guardian/channel.ex">>,
  <<"lib/guardian/claims.ex">>,<<"lib/guardian/hooks.ex">>,
  <<"lib/guardian/jwt.ex">>,<<"lib/guardian/keys.ex">>,
  <<"lib/guardian/permissions.ex">>,<<"lib/guardian/plug.ex">>,
  <<"lib/guardian/plug/ensure_permissions.ex">>,
  <<"lib/guardian/plug/ensure_session.ex">>,
  <<"lib/guardian/plug/load_resource.ex">>,
  <<"lib/guardian/plug/verify_authorization.ex">>,
  <<"lib/guardian/plug/verify_session.ex">>,<<"lib/guardian/serializer.ex">>,
  <<"lib/guardian/utils.ex">>,<<"CHANGELOG.md">>,<<"LICENSE">>,<<"mix.exs">>,
  <<"README.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"github">>,<<"https://github.com/hassox/guardian">>}]}.
{<<"name">>,<<"guardian">>}.
{<<"requirements">>,
 [{<<"calendar">>,
   [{<<"app">>,<<"calendar">>},
    {<<"optional">>,nil},
    {<<"requirement">>,<<"~> 0.6.7">>}]},
  {<<"earmark">>,
   [{<<"app">>,<<"earmark">>},
    {<<"optional">>,nil},
    {<<"requirement">>,<<">= 0.0.0">>}]},
  {<<"ex_doc">>,
   [{<<"app">>,<<"ex_doc">>},
    {<<"optional">>,nil},
    {<<"requirement">>,<<"~>0.7">>}]},
  {<<"joken">>,
   [{<<"app">>,<<"joken">>},
    {<<"optional">>,nil},
    {<<"requirement">>,<<"~> 0.14.1">>}]},
  {<<"plug">>,
   [{<<"app">>,<<"plug">>},
    {<<"optional">>,nil},
    {<<"requirement">>,<<">=0.0.1">>}]},
  {<<"poison">>,
   [{<<"app">>,<<"poison">>},
    {<<"optional">>,nil},
    {<<"requirement">>,<<"~>1.4">>}]}]}.
{<<"version">>,<<"0.4.1">>}.
